/*1. color general de la lletra negra*/

h1, p{
    color: black; 
}

/*2. titol nivell 1 fons blanc lletra gris*/

#titol-pagina {
    background: white !important;
    color: gray;
}

/*3. tots els strong en color verd i subratllats*/

strong {
    color: green !important;
    text-decoration: underline; 
}

.paragraf2 > strong {
    color: green;
    text-decoration: underline;
}

/*4. enllaços del paràgraf2 en italica*/

.paragraf2 a {
    font-style: italic;
}

/*5. footer general del web centrat i lletra de 10px*/

footer:nth-child(2n+2) {
    text-align: center;
    font-size: 10px;
}

/*6. Canvia l'ordre de càrrega dels fitxers i mira què passa. Sabries modificar el teu codi per a que se seguís veient igual que abans de canviar l'ordre?*/

/*

Cuando lo cambio en el head, se pone como el codigo de estils_inicials.css. Modificando mi código sería algo así:


h1 {
    background: white !important;
    color: gray;
}

strong {
    color: green !important;
    text-decoration: underline; 
}

Se le pone important, para que se priorice por encima del otro.

*/

